/* Global Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	opacity: 0;
}

img {
	max-width: 85%;
	height: auto;
}

/* Header Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
	background: #1d326c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #5090c1 0%, #000450 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5090c1), color-stop(100%,#000450)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #5090c1 0%,#000450 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #5090c1 0%,#000450 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #5090c1 0%,#000450 100%); /* IE10+ */
    background: linear-gradient(135deg,  #5090c1 0%,#000450 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5090c1', endColorstr='#000450',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: #FFF;
	text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	height: auto;
	padding: 10px 0 0 0;
}

#header__heading {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#header__subHeading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

/* Main Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main {
	background-color: #FFF;
	text-align: center;
	height: auto;
	padding: 10px 0 0 0;
}

#main__heading {
    margin-top: 2rem;
}

.main__picturefill {
	background-color: #FFF;
	text-align: center;
	height: auto;
	padding: 10px 0 0 0;
}

/* Footer Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	background-color: #FFF;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
	height: auto;
	padding: 10px 0 0 0;
}